{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Steve and Wesley!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="tweetbox col-md-9">
    
      <!-- display tweets here -->
      <h3 class='content'>All Tweets</h3>
      <ul class="tweet-list">
      {% for tweet in tweets %}
        <li class='content'> <img> <span class="by">{{tweet.name}}</span> <br> <span class="tweet-text">{{tweet.text}}</span></li>
      {% endfor %}
      </ul>
    </div>
  </div>
    
{% endblock %}